<launch>

  <!-- Gazebo Simulation -->
  <!-- Empty World -->
  <!--
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bigspot_description)/launch/world/normal.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
  </include>
  -->

  <!-- Robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find bigspot_description)/urdf/bigspot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model bigspot"/>

  <!-- Controllers -->
  <rosparam file="$(find bigspot_description)/launch/controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="bigspot_controller" 
        args="FRS_Joint FRL_Joint FRF_Joint
              FLS_Joint FLL_Joint FLF_Joint
              RRS_Joint RRL_Joint RRF_Joint
              RLS_Joint RLL_Joint RLF_Joint"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/bigspot/joint_states"/>
  </node>

  <!-- Robot servo controller -->
  <!-- <node pkg="bigspot_controller" type="robot_controller_real_servo.py" name="ROBOT_CONTROLLER" output="screen"/> -->

  <include file="$(find bigspot_rgb)/launch/rgb.launch" />
  <include file="$(find bigspot_lcd)/launch/lcd.launch" />
  <include file="$(find bigspot_mpu6050)/launch/mpu.launch" />
  <include file="$(find bigspot_ultrasonic)/launch/ultrasonic.launch" />

  <!-- Joystick -->
  <include file="$(find bigspot_joystick)/launch/ramped_joystick.launch" />
  
</launch>
